In [1]:
import pandas as pd
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# District Summary
# Calculate the total number of unique schools
unique_schools = school_data['school_name'].unique()
school_count = len(unique_schools)
print(school_count)

15

In [3]:
# Calculate the total number of students 
number_of_students = student_data['student_name'].count() 
print(number_of_students)

39170

In [4]:
# Calculate the total budget 
total_budget = school_data['budget'].sum()
print(total_budget)

24649428

In [5]:
# Calculate the average (mean) math score 
math_score_mean = student_data['math_score'].mean()
print(math_score_mean)

78.98537145774827

In [6]:
# Calculate the average (mean) reading score 
reading_score_mean = student_data['reading_score'].mean()
print(reading_score_mean)

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(number_of_students) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(number_of_students) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(number_of_students) * 100
overall_passing_rate

65.17232575950983

In [10]:
# Summary District
District_Summary = pd.DataFrame({
    "School Count":[school_count],
    "Student Count":[number_of_students],
    "Total Budget":[total_budget],
    "Mean Math Score":[math_score_mean],
    "Mean Reading Score":[reading_score_mean],
    "Math Percentage":[passing_math_percentage],
    "Passing Reading Percentage":[passing_reading_percentage],
    "Overall Passing Rate":[overall_passing_rate]})
District_Summary.head()

,School Count,Student Count,Total Budget,Mean Math Score,Mean Reading Score,Math Percentage,Passing Reading Percentage,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [11]:
#School Summary
group_by_school = school_data_complete.set_index('school_name').groupby(['school_name'])

In [12]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]

In [13]:
# Calculate the total student count per school counts
student_count_per_school = group_by_school['Student ID'].count()

In [14]:
# Calculate the total school budget and percapita spending
school_budget = school_data_complete.set_index('school_name')['budget']
school_capita = school_budget / student_count_per_school

In [15]:
# Calculate the average test scores
school_math = group_by_school['math_score'].mean()
school_reading = group_by_school['reading_score'].mean()

In [16]:
# % passing math (the percentage of students who passed math)
students_who_passed_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/student_count_per_school

In [17]:
# % passing reading (the percentage of students who passed reading)
students_who_passed_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/student_count_per_school

In [18]:
# % overall passing (the percentage of students who passed math AND reading)
students_who_passed_both = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >=70)].groupby('school_name')['Student ID'].count()/student_count_per_school

In [30]:
# Summaryhttp://localhost:8888/notebooks/Desktop/PandasChallenge/Starter_code/PyCitySchools/Untitled.ipynb?kernel_name=pythondata#
per_school_summary = pd.DataFrame ({"School Budget":[student_count_per_school],"School per Capita":[school_capita],"School Math Score":[school_math],"School Reading Score":[school_reading],"Passed Math":[students_who_passed_math],"Passed Reading":[students_who_passed_reading],"Passed both":[students_who_passed_both]})
per_school_summary.head()

,School Budget,School per Capita,School Math Score,School Reading Score,Passed Math,Passed Reading,Passed both
0,school_name Bailey High School 4976 Cabr...,school_name Bailey High School 628.0 Bailey...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 0.666801 ...,school_name Bailey High School 0.819333 ...,school_name Bailey High School 0.546423 ...